// Colors
$clr1: #FFCBF2;
$clr2: #F3C4FB;
$clr3: #ECBCFD;
$clr4: #fff;
$clr5:  rgb(51, 51, 51);

.main-color{
    color: #D826C7
}


// Breakpoints
$mobile-breakpoint: 350px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1440px;